{
  "presets": [
    ["env", {
      "modules": false,  // 关闭babel的模块化，使用webpack的模块化，这样可以使用tree-shaking
      "targets": {
        "node": "4"
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["import", {
        "libraryName": "antd",
        "style": "css"
    }],
    ["transform-runtime"],
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}