.layout {
  background: #ffffff;
  height: 100vh;
}

.content {
  // padding: 0 8px;
  // display: flex;
  // > div{
  //   flex: 1;
  // }
}

.slider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  background: #fff;
}

.right {
  margin-left: 200px;
  width: calc(100vw - 200px);
}