.layout {
  background: #ffffff;
  height: 100vh;
}

.content {
  display: flex;
}

.slider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  background: #fff;
}

.right {
  margin-left: 200px;
  width: calc(100vw - 200px);
}