.new {
  height: 40px;
  line-height: 40px;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  padding-right: 16px;
  > a {
    float: right;
  }
  &::after {
    content: '';
    clear: both;
  }
}

.listContainer {
  max-width: 900px;
  margin: 0 auto;
}

.node {
  margin-bottom: 24px;
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 8px;

  :global {
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
      color: #000;
    }
    .header {
      font-size: 12px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      color: #ccc;
      border-bottom: 1px dashed #ddd;
      
    }
    .createTime {
      color: #858585;
    }
    .footer {
      display: flex;
      justify-content: space-between;
    }
  }
}

.detail {
  margin-top: 24px;
  max-width: 1000px;
  margin: 0 auto;
  :global {
    .optioninfo {
      display: flex;
      justify-content: space-between;
    }
    .createTime {
      color: #858585
    }
  }
}

.edit {
  display: flex;
  flex: 1;
  flex-direction: column;
  :global{
    .header {
      padding: 16px;
      display: flex;
      input {
        flex: 1;
        // border-radius: 0;
      }
      button {
        margin-left: 20px;
      }
    }
    .content{
      padding: 0 20px;
      flex: 1;
      display: flex;
      .editor, .preview {
        // flex: 1;
        width: 50%;
      }
      .preview {
        padding: 4px 12px;
        overflow-y: auto;
      }
      .editor {
        textarea {
          height: 100%;
          border-radius: 0;
          outline: none;
          :focus, :hover {
            outline: none;
          }
        }
      }
      .divider {
        width: 2px;
        padding: 4px 11px;
      }

    }
  }
}