.new {
  height: 40px;
  line-height: 40px;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
  padding-right: 16px;
  > a {
    float: right;
  }
  &::after {
    content: '';
    clear: both;
  }
}

.listContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  margin-bottom: 12px;
}

.node {
  margin-bottom: 24px;
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 8px;

  :global {
    h1 {
      font-size: 24px;
      position: relative;
      &::after {
        content: '';
        width: 5px;
        background: #1890ff;
        position: absolute;
        left: -24px;
        top: 0;
        bottom: 0;
        height: 100%;
      }
    }
    p {
      font-size: 16px;
      color: #000;
    }
    header {
      font-size: 12px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      color: #ccc;
      border-bottom: 1px dashed #ddd;  
      .tags {
        > i {
          color: #ccc;
          transform: rotateY(180deg);
        }
        > a {
          color: #ccc;
          margin-left: 8px;
          &:hover {
            color: #40a9ff;
          }
         }
  
      }
    }
    .options {
      display: flex;
      justify-content: space-between;
    }
    .desription {
      div {
        > * {
          display: none;
        }
        p:first-of-type {
          display: block;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
      > a {
        &:first-child {
          color: #ccc;
          margin-right: 16px;
          &:hover {
            color: #40a9ff;
          }
        }
      }
    }
  }
}

.detail {
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
  padding: 24px;
  background: #fff;
  max-width: 1000px;
  margin: 0 auto;
  overflow-y: auto;
  margin-bottom: 12px;
  :global {
    .optioninfo {
      display: flex;
      justify-content: space-between;
    }
    .createTime {
      color: #858585
    }
  }
}

.edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  :global{
    .header {
      padding: 16px;
      display: flex;
      input {
        flex: 1;
        // border-radius: 0;
      }
      button {
        margin-left: 20px;
      }
    }
    .content{
      padding: 0 20px;
      flex: 1;
      display: flex;
      .editor, .preview {
        // flex: 1;
        width: 50%;
      }
      .preview {
        padding: 4px 12px;
        overflow-y: auto;
      }
      .editor {
        textarea {
          height: 100%;
          border-radius: 0;
          outline: none;
          :focus, :hover {
            outline: none;
          }
        }
      }
      .divider {
        width: 2px;
        padding: 4px 11px;
      }

    }
  }
}
.tagList {
  :global {
    .ant-checkbox-group-item {
      height: 32px;
      line-height: 32px;
    }
  }
}