.listContainer {
  max-width: 900px;
  margin: 0 auto;
}

.node {
  margin-bottom: 24px;
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 24px;

  :global {
    h1 {
      font-size: 24px;
    }
    .header {
      font-size: 12px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      color: #ccc;
      border-bottom: 1px dashed #ddd;
    }
  }
}