<!DOCTYPE html>
<html lang="" style="font-size: 20px;">
<head>
    <meta charset="UTF-8">
    <title>Abelce的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    
    <!-- 提前解析dns -->
    <link rel="dns-prefetch" href="www.tangzhengxiong.com">
    <link rel="dns-prefetch" href="www.static.tangzhengxiong.com">
    <%= htmlWebpackPlugin.options.loading.css %>
</head>
<body>
<div id="app">
    <%= htmlWebpackPlugin.options.loading.html %>
</div>
  <%= htmlWebpackPlugin.options.loading.js %>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <!-- Hotjar Tracking Code for tangzhengxiong.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1056743,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</body>
</html>
