.list {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;

  &::after {
    content: '';
    flex-grow: 9999999;
  }
}

.imageContainer {
  display: inline-block;
  margin: 4px;  
  flex-grow: 1;
  position: relative;
  > img {
    min-width: 100%;
    max-width: 100%;
    transition: .5s;
    object-fit: cover;
  }
  > .placeholder {
    padding-bottom: 100%;
  }
  :global {
    .placeholder {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: gray;
    }
  }
  &:hover {
    background: #000000;
    > img {
      opacity: .5;
    }
  }
}